extends layout

block content
  .jumbotron.text-center
    h1 Visual Twitter Response
    p Usage: Input locations to search for top twitter posts and the average sentimental score of the posts.
    p Example: Brisbane 
  .container
    label(for='query' style="font-size:24px") Search trending Twitter posts in a location:
    .input-group
      input.form-control(type='text' placeholder="Brisbane")
      span.input-group-btn
        button.btn.btn-primary(type='button' onclick='showTweet()') Search
    p(style='white-space:pre;')
    label(style="font-size:18px" text-align="right") Trending twitter
    .row   
      .col-sm-4
        blockquote  
          .post1
      .col-sm-4
        blockquote  
          .post2
      .col-sm-4
        blockquote  
          .post3
    p(style='white-space:pre;')
        .row   
      .col-sm-4
        blockquote  
          .score1
      .col-sm-4
        blockquote  
          .score2
      .col-sm-4
        blockquote  
          .score3
    p(style='white-space:pre;')
    #chart
      
