extends layout

block content
  .jumbotron.text-center
    h1 Visual Twitter Response
    p Usage: Input locations to search for top twitter posts and the average sentimental score of the posts.
    p Example: #Brisbane#Melbourne 
  .container
    label(for='query' style="font-size:24px") Search trending Twitter posts in a location:
    .input-group
      input.form-control(type='text' placeholder="#Brisbane#Melbourne")
      span.input-group-btn
        button.btn.btn-primary(type='button' onclick='showTweet()') Search
    .row   
      .col-sm-4        
        .post1
      .col-sm-4
        .post2
      .col-sm-4
        .post3
    p(style='white-space:pre;')
    button.btn.btn-info(data-toggle='collapse' data-target='#chart' onclick='showChart()') Show Chart
    #chart.collapse
      |This will be our chart
      
