extends layout

block content
  .jumbotron.text-center
    h1 Visual Twitter Response
    p Resize this responsive page to see the effect!
  .container
    .row
      .col-sm-4
        h3 Sample text
        p Do something here
      .col-sm-4
        h3 Sample text
        p Do something here
      .col-sm-4
        h3 Sample text
        p Do something here
